<%# Override from Hyrax v5.0.0rc2 to add feature flags to show/hide:
  featured researcher
  featured works
  recently_uploaded
  also, to render featured collections
%>

<div class="<%= @presenter.display_featured_works? || @presenter.display_recently_uploaded? ? 'col-md-6' : '' %>">
  <ul id="homeTabs" class="nav nav-tabs" role="list">
    <%# add check for featured works %>
    <% if @presenter.display_featured_works? %>
      <li class="nav-item">
        <a class="nav-link active" href="#featured_container" data-toggle="tab" id="featureTab">
          <%= t('hyrax.homepage.featured_works.tab_label') %>
        </a>
      </li>
    <% end %>
    <%# add check for recently uploaded %>
    <% if @presenter.display_recently_uploaded? %>
      <li class="nav-item <%= @presenter.display_featured_works? ? '' : 'active' %>">
        <a class="nav-link" href="#recently_uploaded" data-toggle="tab" id="recentTab">
          <%= t('hyrax.homepage.recently_uploaded.tab_label') %>
        </a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <%# add check for featured works %>
    <% if @presenter.display_featured_works? %>
      <div class="tab-pane show active" id="featured_container" role="tabpanel" aria-labelledby="featureTab">
        <%= render 'featured_works' %>
      </div>
    <% end %>
    <%# add check for recently_uploaded %>
    <% if @presenter.display_recently_uploaded? %>
      <div class="tab-pane <%= @presenter.display_featured_works? ? '' : 'show active' %>" id="recently_uploaded" role="tabpanel" aria-labelledby="recentTab">
        <%= render 'recently_uploaded', recent_documents: @recent_documents %>
      </div>
    <% end %>
  </div>
</div><!-- /.col-md-6 -->

<div class="col-md-6">
  <ul class="nav nav-tabs" role="list">
    <li class="nav-item">
      <a class="nav-link active" aria-expanded="true" href="#tab-col2-first" data-toggle="tab">
        <%= t('hyrax.homepage.admin_sets.title') %>
      </a>
    </li>
    <% if @presenter.display_featured_researcher? %>
      <li class="nav-item">
        <a class="nav-link" aria-expanded="false" href="#tab-col2-second" data-toggle="tab">
          <%= t('hyrax.homepage.featured_researcher.tab_label') %>
        </a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div class="tab-pane show active" id="tab-col2-first">
      <h2 class="sr-only"><%= t('hyrax.homepage.admin_sets.title') %></h2>
      <%= render 'featured_collection_section' %>
    </div>
    <%# add check for featured researcher %>
    <% if @presenter.display_featured_researcher? %>
      <div class="tab-pane" id="tab-col2-second">
        <h2 class="sr-only"><%= t('hyrax.homepage.featured_researcher.title') %></h2>
        <%= render 'featured_researcher' %>
      </div>
    <% end %>
  </div>
</div>
