<% # OVERRIDE: Hyrax 5.0.0rc2 template to change the size of the column on line 20 from col-md-4 to col-md-6  %>
<header aria-label="header" class="top-header">
  <nav id="masthead" class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between cultural-repository-nav <%= placement_class %>" role="navigation" aria-label="masthead">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#top-navbar-collapse" aria-controls="top-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= render '/logo' %>
      </div>

      <div class="collapse navbar-collapse" id="top-navbar-collapse">
        <% if admin_host? %>
          <%= render '/admin_util_links' %>
        <% else %>
          <%= render '/user_util_links' %>
          <div class="clearfix d-md-flex justify-content-end col-12 col-md-6">
            <%= render partial: 'catalog/search_form' %>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
</header>
