<ul id="user_utility_links" class="cultural-repository nav navbar-nav ml-auto">
  <%= render 'shared/locale_picker' if available_translations.size > 1 %>
  <li class="nav-item <%= 'active' if current_page?(hyrax.root_path) %>">
    <%= link_to t(:'hyrax.controls.home'), hyrax.root_path, class: 'nav-link', aria: current_page?(hyrax.root_path) ? {current: 'page'} : nil %>
  </li>
  <li class="nav-item <%= 'active' if current_page?(hyrax.about_path) %>">
    <%= link_to t(:'hyrax.controls.about'), hyrax.about_path, class: 'nav-link', aria: current_page?(hyrax.about_path) ? {current: 'page'} : nil %>
  </li>
  <li class="nav-item <%= 'active' if current_page?(hyrax.help_path) %>">
    <%= link_to t(:'hyrax.controls.help'), hyrax.help_path, class: 'nav-link', aria: current_page?(hyrax.help_path) ? {current: 'page'} : nil %>
  </li>
  <li class="nav-item <%= 'active' if current_page?(hyrax.contact_path) %>">
    <%= link_to t(:'hyrax.controls.contact'), hyrax.contact_path, class: 'nav-link', aria: current_page?(hyrax.contact_path) ? {current: 'page'} : nil %>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= render_notifications(user: current_user) %>
    </li>
    <li class="nav-item dropdown">
      <%= link_to hyrax.dashboard_profile_path(current_user), class: 'nav-link dropdown-toggle', role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false} do %>
        <span class="sr-only"><%= t("hyrax.toolbar.profile.sr_action") %></span>
        <span class="hidden-xs">&nbsp;<%= current_user.name %></span>
        <span class="sr-only"> <%= t("hyrax.toolbar.profile.sr_target") %></span>
        <span class="fa fa-user"></span>
      <% end %>
      <div class="dropdown-menu dropdown-menu-right" role="menu">
        <a class="dropdown-item" href="<%= hyrax.dashboard_path %>"><%= t("hyrax.toolbar.dashboard.menu") %></a>
        <div class="dropdown-divider"></div>
        <% if Devise.mappings[:user]&.registerable? %>
          <a class="dropdown-item" href="<%= main_app.edit_user_registration_path %>"><%= t("hyku.toolbar.profile.edit_registration") %></a>
        <% end %>
        <a class="dropdown-item" href="<%= main_app.destroy_user_session_path %>"><%= t("hyrax.toolbar.profile.logout") %></a>
      </div>
    </li><!-- /.dropdown -->
  <% else %>
    <li class="nav-item">
      <%= link_to main_app.new_user_session_path, class: 'nav-link' do %>
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> <%= t("hyrax.toolbar.profile.login") %>
      <% end %>
    </li>
  <% end %>
</ul>
