<%# Add content_for block to clear caching so IR icons don't duplicate unintentionally %>
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div class="carousel slide institutional-repository-carousel" id="carousel-tilenav" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <% resource_types.each.with_index do |(k,v), i| %>
      <% next if v[0].zero? %>
      <div class="carousel-item <%= 'active' if i.zero? %>">
        <div class="col-sm-3 col-md-2 text-center">
          <%= link_to "/catalog?f[resource_type_sim][]=#{k}", style: "color: inherit;" do %>
            <i class='<%= "#{v[1]}" %>' aria-hidden="true"></i>
            <h5><%= k %></h5>
            <p><%= v[0] %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<a class="carousel-control-prev" href="#carousel-tilenav" role="button" data-slide="prev">
  <span class="fa fa-chevron-left carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carousel-tilenav" role="button" data-slide="next">
  <span class="fa fa-chevron-right carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
