<% content_for(:extra_body_classes, 'works-show text-show-theme-partial ') %>
<% provide :page_title, @presenter.page_title %>
<%= render 'shared/citations' %>
<%= render './shared/additional_citations' %>
<div class="row">
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= render 'work_title', presenter: @presenter %>
      </div>
      <div class="panel-body">
        <div class="row">
          <%= render 'workflow_actions_widget', presenter: @presenter %>
          <div class="col-sm-12">
            <%= render "show_actions", presenter: @presenter %>
          </div>
          <% if @presenter.video_embed_viewer? %>
            <%= render 'video_embed_viewer', presenter: @presenter %>
          <% else %>
            <% if @presenter.iiif_viewer? %>
              <div class="col-sm-12 centered-media">
                <%= render 'representative_media', presenter: @presenter, viewer: true %>
              </div>
            <% elsif @presenter.show_pdf_viewer? %>
              <div class="col-sm-12">
                <%= render 'pdf_js', file_set_presenter: pdf_file_set_presenter(@presenter) %>
              </div>
            <% else %>
              <div class="centered-media <%= !@presenter.viewer? ? 'col-sm-6 text-center' : '' %>">
                <%= render 'representative_media', presenter: @presenter, viewer: false %>
              </div>
            <% end %>
          <% end %>
          <div class="<%= @presenter.viewer? ? 'col-sm-8' : 'col-sm-8' %>">
            <%= render 'work_description', presenter: @presenter %>
            <%= render 'metadata', presenter: @presenter %>
          </div>
          <div class="col-sm-12 col-md-4 relationships-container">
            <div class='relationships-box'>
              <%= render 'relationships', presenter: @presenter %>
            </div>
            <%= render('download_pdf', presenter: @presenter, file_set_id: @presenter.file_set_presenters.first.id) if @presenter.show_pdf_download_button? %>
            <%= render 'citations', presenter: @presenter %>
            <!-- analytics_button is disabled until future fix -->
            <%#= render 'analytics_button', presenter: @presenter %>
          </div>
          <div class="col-sm-12 work-show-items">
            <%= render 'items', presenter: @presenter %>
          </div>
          <span class='hide analytics-event' data-category="work" data-action="work-view" data-name="<%= @presenter.id %>" >
          <% @presenter.member_of_collection_ids.each do |collection_id| %>
            <span class='hide analytics-event' data-category="work-in-collection" data-action="work-in-collection-view" data-name="<%= collection_id %>" >
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>