<% content_for :page_title, construct_page_title(t('hyku.admin.groups.title.index'), t('hyku.admin.title')) %>
<% provide :page_header do %>
  <% if can? :edit, Hyrax::Group %>
    <h1>
      <span class="fa fa-users"></span>
      <%= t('hyku.admin.groups.title.index') %>
    </h1>
  <% else %>
    <h1>
      <span class="fa fa-users"></span>
      <%= t('hyku.admin.groups.title.reader_index') %>
    </h1>
  <% end %>
<% end %>

<div class="card group-listing">
  <div class="card-header">
    <% group_count = Hyrax::Group.count %>
    <% if group_count == 1 %>
      <%= t('hyku.admin.groups.describe_singular_quantity_html') %>
    <% else %>
      <%= t('hyku.admin.groups.describe_quantity_html', number: group_count ) %>
    <% end %>
    <% if can? :create, Hyrax::Group %>
      <%= link_to t('hyku.admin.groups.action.create'), new_admin_group_path, class: 'btn btn-primary float-right new-group' %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="container-fluid full-width-container">
      <div class="row">
        <div class="col-md-6">
          <%= render 'per_page', target: admin_groups_path %>
        </div>
        <div class="col-md-6 text-right">
          <%= render 'search', target: admin_groups_path %>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t('hyku.admin.groups.label.name') %></th>
            <th><%= t('hyku.admin.groups.label.roles') %></th>
            <th><%= t('hyku.admin.groups.label.members') %></th>
            <th><%= t('hyku.admin.groups.label.created_at') %></th>
            <th><%= t('hyku.admin.groups.label.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr id=<%= "#{group.name}" %>>
              <td>
                <b><%= group.humanized_name %></b>
                <p class='form-text text-muted'>
                  <%= group.description_label %>
                </p>
              </td>
              <td>
                <ul><% group.roles.each do |role| %>
                  <li><%= role.name.titleize %></li>
                  <% end %>
                </ul>
              </td>
              <td>
                <%= group.number_of_users %>
              </td>
              <td>
                <%= group.created_at.to_date.to_formatted_s(:standard) %>
              </td>
              <td>
                <% if can? :edit, Hyrax::Group %>
                  <%= link_to t('hyku.admin.groups.action.edit'), edit_admin_group_path(group), id: "edit-#{group.name}-group", class: 'btn btn-secondary' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <nav class="float-right">
      <%= paginate @groups %>
    </nav>
  </div>
</div>
