<% content_for :page_title, construct_page_title(t('hyku.admin.groups.title.edit'), t('hyku.admin.title')) %>
<% provide :page_header do %>
  <h1>
    <span class="fa fa-users"></span>
    <%= "#{t('hyku.admin.groups.title.edit')}: #{@group.humanized_name}" %>
  </h1>
<% end %>

<%= render 'nav' %>
<div class="card">
  <div class="card-body">
    <blockquote class="callout callout-danger">
      <h3><%= t('hyku.admin.groups.title.delete', group: @group.humanized_name) %></h3>
      <p>
        <%= t('hyku.admin.groups.action.remove.description') %>
      </p>
      <div class="callout-action">
        <%= link_to t('hyku.admin.groups.action.remove.submit'), admin_group_path(@group), class: "btn btn-danger action-delete #{'disabled' if @group.default_group?}", method: :delete, data: { confirm: t('hyku.admin.groups.action.remove.confirmation') } %>
      </div>
    </blockquote>
  </div>
</div>
