<%# OVERRIDE Hyrax v5.0.0rc2
  - Handle :manage_discovery ability

<%# OVERRIDE: set conditional disable variables %>
<% disable_update = true if cannot?(:manage_discovery, @collection) %>
<% disabled = (disable_update ? 'disabled' : nil) %>

<div class="set-access-controls">

  <p><%= t('.para1') %></p>
  <p><%= t('.para2') %></p>

  <%# OVERRIDE: add conditional explanation %>
  <% if disable_update %>
    <div>
      <%= t('permissions.collections.cannot.manage_discovery') %>
    </div>
  <% end %>

  <%# OVERRIDE: conditionally disable option %>
  <div class="form-check">
    <label class="form-check-label <%= disabled %>">
      <%= f.radio_button :visibility,Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC, disabled: disabled %>
      <strong><%= t('hyrax.visibility.open.text') %></strong> - <%= t('hyrax.visibility.open.note_html') %>
    </label>
  </div>
  <%# OVERRIDE: conditionally disable option %>
  <div class="form-check">
    <label class="form-check-label <%= disabled %>">
      <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED, disabled: disabled %>
      <strong><%= t('hyrax.visibility.authenticated.text', institution: institution_name) %></strong> - <%= t('hyrax.visibility.authenticated.note_html', institution: institution_name) %>
    </label>
  </div>
  <%# OVERRIDE: conditionally disable option %>
  <div class="form-check">
    <label class="form-check-label <%= disabled %>">
      <%= f.radio_button :visibility, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE, disabled: disabled %>
      <strong><%= t('hyrax.visibility.restricted.text') %></strong>- <%= t('hyrax.visibility.restricted.note_html') %>
    </label>
  </div>
</div>
