<% content_for(:extra_body_classes, 'works-show ') %>

<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>
<%= render './shared/additional_citations' %>
<div class="row work-type">
  <div class="col-12">
    <%= render 'work_type', presenter: @presenter %>
  </div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-12">
    <div class="card">
      <div class="card-header">
        <%= render 'work_title', presenter: @presenter %>
      </div>
      <div class="card-body">
        <div class="row">
          <%= render 'workflow_actions_widget', presenter: @presenter %>
          <% if @presenter.iiif_viewer? %>
            <div class="col-12">
              <%= render 'representative_media', presenter: @presenter, viewer: true %>
            </div>
            <div class="col-12">
              <div class="image-show-description">
                <%= render 'work_description', presenter: @presenter %>
              </div>
            </div>
          <% else %>
            <div class="col-sm-3 mb-1">
              <%= render 'representative_media', presenter: @presenter, viewer: false unless @presenter.iiif_viewer? %>
            </div>
            <div class="col-sm-9">
              <%= render 'work_description', presenter: @presenter %>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-12 image-show-metadata">
            <%= render 'metadata', presenter: @presenter %>
          </div>
          <div class="col-12">
            <%= render 'relationships', presenter: @presenter %>
            <%= render 'items', presenter: @presenter %>
            <%# TODO: consider adding 'sharing_with' and 'user_activity' partials in the future %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
