<div class="card facet_limit blacklight-<%= facet_field.key.parameterize %> <%= 'facet_limit-active' if facet_field_in_params?(facet_field.key) %>">
  <div class="<%= "collapsed" if should_collapse_facet?(facet_field) %> card-header collapse-toggle" id="heading<%= facet_field_id(facet_field) %>" aria-expanded="false" data-toggle="collapse" data-target="#<%= facet_field_id(facet_field) %>">
    <h3 class="mb-0 facet-field-heading">
      <%= link_to facet_field_label(facet_field.key), "#", :"data-turbolinks" => false, :"data-no-turbolink" => true %>
    </h3>
  </div>
  <div id="<%= facet_field_id(facet_field) %>" class="collapse <%= should_collapse_facet?(facet_field) ? '' : 'show' %>" aria-labelledby="heading<%= facet_field_id(facet_field) %>" data-parent="#accordion">
    <div class="card-body">
      <%= yield %>
    </div>
  </div>
</div>
