<%# OVERRIDE: Hyrax v5.0.0rc2 to use Hyrax::Groups for groups select box %>

<p><%= t('.directions') %></p>
<h2 class="h3 mt-4"><%= t('.add_sharing') %></h2>

<% depositor = f.object.depositor %>

<div class="alert alert-info hidden" id="save_perm_note">Permissions are
  <strong>not</strong> saved until the &quot;Save&quot; button is pressed at the bottom of the page.</div>

<div class="alert alert-warning hidden" role="alert" id="permissions_error">
  <span id="permissions_error_text"></span>
</div>

<p class="sr-only">Use the add button to give access to one <%= t('hyrax.account_label') %> at a time (it will be added to the list below).
  Select the user, by name or <%= t('hyrax.account_label') %>. Then select the access level you wish to grant and click on Add this
  <%= t('hyrax.account_label') %> to complete adding the permission.
</p>

<fieldset class="form-group row permission-add-group">
  <legend class="col-sm-3 permissions-add-group-label">
    <%= t('hyrax.admin.admin_sets.form_participants.add_group') %>
  </legend>
  <div class="col-sm-9 form-inline">
    <label for="new_group_name_skel" class="sr-only">Group</label>
    <%# changed select to use Hyrax::Groups %>
    <% hyrax_groups = Hyrax::Group.all.map { |g| [g.humanized_name, g.name] } %>
    <%= select_tag 'new_group_name_skel', options_for_select(hyrax_groups), prompt: "Select a group...", class: 'form-control' %>
    <label for="new_group_permission_skel" class="sr-only">Access type to grant</label>
    <%= select_tag 'new_group_permission_skel', options_for_select(Hyrax.config.permission_options), class: 'form-control' %>

    <button class="btn btn-secondary ml-2" id="add_new_group_skel">
      <span>Add<span class="sr-only"> this group</span></span>
    </button>
    <br /><span id="directory_group_result"></span>
  </div>
</fieldset>

<fieldset class="form-group row permission-add-user">
  <legend class="col-sm-3 permissions-add-user-label">
    <%= t('hyrax.admin.admin_sets.form_participants.add_user') %>
  </legend>
  <div class="col-sm-9 form-inline">
    <label for="new_user_name_skel" class="sr-only"><%= t('hyrax.account_label') %> (without the <%= t('hyrax.directory.suffix') %> part)</label>
    <%= text_field_tag 'new_user_name_skel', nil %>
    <label for="new_user_permission_skel" class="sr-only">Access type to grant</label>
    <%= select_tag 'new_user_permission_skel', options_for_select(Hyrax.config.permission_options), class: 'form-control' %>
    <button class="btn btn-secondary ml-2" id="add_new_user_skel">
      <span>Add<span class="sr-only"> this <%= t('hyrax.account_label') %></span></span>
    </button>
    <br /> <span id="directory_user_result"></span>
  </div>
</fieldset>

<h2><%= t('.currently_sharing') %></h2>

<table class="table">
  <tr id="file_permissions">
    <td width="20%">
      <%= Hyrax.config.owner_permission_levels.keys[0] %>
    </td>
    <td width="60%">
      <%= label_tag :owner_access, class: "control-label" do %>
        Depositor (<span id="file_owner" data-depositor="<%= depositor %>"><%= link_to_profile depositor %></span>)
      <% end %>
    </td>
  </tr>
  <%= f.fields_for :permissions do |permission_fields| %>
    <% agent = permission_fields.object %>
    <%# skip the public, registered, and depositor perms as they are displayed first at the top %>
    <%# OVERRIDE: in addition, skip perms for work roles since they should never be edited / removed %>
    <% agents_to_skip = ['public', 'registered', depositor] + RolesService::WORK_ROLES %>
    <% next if agents_to_skip.include? agent.agent_name.downcase %>
    <tr>
      <%# OVERRIDE: display access for admin group in a way that does not allow access to be removed or access level to be changed %>
      <% if agent.type == 'group' && agent.agent_name == Ability.admin_group_name %>
        <td><%= Hyrax.config.permission_levels.key(agent.access) %></td>
        <td><b><%= display_hyrax_group_name(agent.agent_name) %></b></td>
      <% else %>
        <td>
          <%= permission_fields.select :access, Hyrax.config.permission_levels, {}, class: 'form-control select_perm' %>
        </td>
        <td>
          <%= permission_fields.label :agent_name, class: "control-label" do %>
            <%# OVERRIDE: use separate method to display group agents %>
            <% if agent.type == 'person' %>
              <%= user_display_name_and_key(agent.agent_name) %>
            <% else %>
              <%= display_hyrax_group_name(agent.agent_name) %>
            <% end %>
          <% end %>
          <button class="btn close remove_perm" data-index="<%= permission_fields.index %>">&times;</button>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<script type="text/x-tmpl" id="tmpl-work-grant">
<tr>
  <td>{%= o.accessLabel %}</td>
  <td><label class="control-label">{%= o.name %}</label> <button class="btn close">&times;</button></td>
</tr>
</script>
